@import 'base.scss';

.auth-bg {

    background-image: url('../assets/images/auth-bg.png');
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .center-box {
        text-align: center;

        .heading {
            h1 {
                font-size: 24px;
            }

            .f-large {
                font-size: 40px;
            }

            p {
                font-size: 20px;
            }
        }

        .form-div {
            img.dog-avator {
                position: relative;
                bottom: -4px;
            }

            .icons {
                img {
                    width: 60px;
                }
            }

            .forgot-link {
                color: $main-color;
                margin-top: 6px;
                display: block;
                text-align: right;
            }

            .link {
                color: $main-color;
                font-weight: bold;
            }
        }
    }
}